@import './abstract/variables';
@import 'reset';
@import 'header', 'footer';
@import './components/botones';

// General styles
.main {
    padding-block: 3rem;
    section {
        margin-block: 1rem;
        .commands b {
            color: $green;
        }
    }
}
.card {
    border: 1px solid yellow;
    border-radius: 5px;
    max-width: 350px;
    img {
        width: 100%;
    }
    .card-text {
        padding: 20px;
        h3 {
            font-size: 1.5em;
            color: yellowgreen
        }
        &_parrafo {
            color: palegreen;
        }
    }
    &:hover {
        border-color: red;
    }
}